
<!DOCTYPE html>
<html>
<head>
    <title>Borrowings</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Borrowings</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/books">Books</a>
        <a href="/customers">Customers</a>
    </nav>
    <table>
        <tr><th>Book ID</th><th>Customer ID</th><th>Borrow Date</th><th>Return Date</th><th>Late Fee</th></tr>
        <% borrows.forEach(borrow => { %>
            <tr>
                <td><%= borrow.bookid %></td>
                <td><%= borrow.customerid %></td>
                <td><%= borrow.borrowdate %></td>
                <td><%= borrow.returndate || '' %></td>
                <td><%= borrow.late_fee || 0 %></td>
            </tr>
        <% }); %>
    </table>
</body>
</html>
